.loader {
  display: none;
}

.wrapper {
  max-width: 1800px;
  width: 95%;
  margin: 0 auto;
}

.burger {
  display:none;
}

.mainContainer {
  display: flex;
  position: relative;
}

body {
  background: #111;
  font-size: 62.5%;
  text-transform: uppercase;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.container {
  height: calc(50% - 40px);
  width: calc(100% - 20px);
  margin: 20px 10px;
  background: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $header;
}

.container span {
  color: #CDAA54;
}

.hero,
.midColumn,
.rightColumn {
  width: 33.33%;
}

.hero {
  background: url(../assets/freddie-marriage-w39PTDxKiK8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  object-fit: cover;
  margin: 10px;
  transition: 1s ease-out;
  perspective: 1000px;

  &:hover {
    background: url(../assets/deb_headshot.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // transform: translateX(-20px) translateY(-20px);
  } 

  &:hover + p {
    display: none;
  }

  p {
    color: $gold;
    text-transform: none;
    font-family: $base;
    margin-top: 700px;
    font-size: 0.8rem;

    a {
      text-decoration: none;
      color: white;
      font-weight: 800;
    }
  }
}

.hero:hover + .hiddenText {
    display: block;
    z-index: 2000;
  }

.hiddenText {
  display: none;
  color: #222;
  position: absolute;
  width: 200px;
  height: 100px;
  margin: 30px 0 0 300px;
  text-align: center;
  background-color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 50px;

  &:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 50px;
    top: 100px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
  }
}

.midTop {
  background: #111;
}