@media (max-width: 800px) {
  .mainContainer {
    min-height: 100vh;
    width: 1000px;
  }

  .hero {
    display: none;
  }

  .overlay {
    left: -34%;
    min-width: 660px;
  }

  .portfolioOverlay ul {
    display: flex;
    flex-direction: column;
  }

  .contactOverlay {
    width: 100%;

    .contactContainer {
      flex-direction: column;
    }

    aside {
      width: 100%;
      margin: 0 auto;
    }

    form {
      width: 80%
    }
  }
}

@media (max-width: 660px) {
  .mainContainer {
    position: static;
    width: 900px;
  }

  .overlay {
    left: -34%;
    min-width: 550px;
  }
}