// PORTFOLIO
.portfolioOverlay {
  display: none;
  font-family: $base;
  font-size: 1.2rem;

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  h2 {
    text-transform: capitalize;
    font-size: 1.8rem;
  }
}

.imageContainer {
  width: calc(100% - 40px);
  margin: 20px;
  list-style: none;
  position: relative;
  text-align: center;

  img {
    display: block;
  }
  
  .imageOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #111;
    transition: opacity 0.5s ease;
  
    &:hover {
    opacity: 0.9;
    }
  }

  p {
    text-transform: lowercase;
  }

  a {
    color: white;
    background: $silver;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;

    &:hover {
      background: $gold;
    }
  }
}